@font-face {
  font-family: "lovelymaid"; /* Project id 5124876 */
  src: url('iconfont.ttf?t=1777622576704') format('truetype');
}

.lovelymaid {
  font-family: "lovelymaid" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.lovelymaid-ellipsis:before {
  content: "\e608";
}

.lovelymaid-search:before {
  content: "\e64e";
}

.lovelymaid-info:before {
  content: "\e6de";
}

.lovelymaid-sidebar_left:before {
  content: "\e898";
}

.lovelymaid-right-arrow:before {
  content: "\e629";
}

.lovelymaid-clear:before {
  content: "\e600";
}

.lovelymaid-left-arrow:before {
  content: "\e899";
}

.lovelymaid-gou:before {
  content: "\e630";
}

.lovelymaid-close:before {
  content: "\e62d";
}

