@font-face {
  font-family: "iconfont"; /* Project id 5124876 */
  src: url('iconfont.ttf?t=1770992826638') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e6f8";
}

.icon-info:before {
  content: "\e6de";
}

.icon-sidebar_left:before {
  content: "\e898";
}

.icon-right-arrow:before {
  content: "\e629";
}

.icon-clear:before {
  content: "\e600";
}

.icon-left-arrow:before {
  content: "\e899";
}

.icon-gou:before {
  content: "\e630";
}

.icon-close:before {
  content: "\e62d";
}

