@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-iconguanbi:before {
  content: "\e659";
}

.icon-del:before {
  content: "\e644";
}

.icon-love:before {
  content: "\e665";
}

.icon-mima:before {
  content: "\e657";
}

.icon-search:before {
  content: "\e621";
}

.icon-shoujihao:before {
  content: "\e62b";
}

.icon-luxian:before {
  content: "\e649";
}

.icon-yanzhengma:before {
  content: "\e65c";
}

.icon-info:before {
  content: "\e611";
}

.icon-route:before {
  content: "\e853";
}

.icon-sidebar_left:before {
  content: "\e898";
}

.icon-right-arrow:before {
  content: "\e629";
}

.icon-clear:before {
  content: "\e50c";
}

