@font-face {
  font-family: "lovelymai"; /* Project id 5124876 */
  src: url('iconfont.ttf?t=1785895268554') format('truetype');
}

.lovelymai {
  font-family: "lovelymai" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.lovely-horizontal:before {
  content: "\ea87";
}

.lovely-ellipsis:before {
  content: "\e608";
}

.lovely-search:before {
  content: "\e64e";
}

.lovely-info:before {
  content: "\e6de";
}

.lovely-left-sidebar:before {
  content: "\e898";
}

.lovely-right-arrow:before {
  content: "\e629";
}

.lovely-clear:before {
  content: "\e600";
}

.lovely-down-arrow:before {
  content: "\e89a";
}

.lovely-left-arrow:before {
  content: "\e899";
}

.lovely-check:before {
  content: "\e630";
}

.lovely-close:before {
  content: "\e62d";
}

