.lovelymaid-pc-container {
  background-color: rgba(248, 248, 248, 0.9);
  backdrop-filter: blur(10px) saturate(1.5);
  border: 1px solid #fff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, .1);
}

.lovelymaid-mobile-container {
  background-color: #f2f2f6;
  backdrop-filter: blur(10px) saturate(1.5);
  border: 1px solid #fff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, .1);
}