.lovelymai-common-container {
  background-color: #f2f2f6;
  border: 1px solid #fff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, .1);
}

.lovelymai-select-container {
  background-color: #dadada;
  border: 1px solid #fff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, .1);
}

.lovelymai-glass-container {
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(10px) saturate(1.5);
  border: 1px solid #fff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, .1);
}

.lovelymai-fade-enter-from,
.lovelymai-fade-leave-to {
  opacity: 0;
}

.lovelymai-fade-enter-active,
.lovelymai-fade-leave-active {
  transition: opacity .2s;
}

.lovelymai-fade-leave-leave-to {
  opacity: 0;
}

.lovelymai-fade-leave-leave-active {
  transition: opacity .2s;
}